<h1><%= @song.name %>'s Details</h1>
<% if !@genres.nil? %>
<h5>Genre:</h5>
<ul>
    <% @genres.each do |g| %>
        <%= link_to genre_path(g), :action => 'go' do %>
            <li><%= g.name %></li>
        <% end %>
    <% end %>
</ul>
<% end %>