<h1>Selected item</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
      <tr>
        <td><%= @item.name %></td>
        <td><%= @item.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 