<h1>Genre Index</h1>
<ul>
  <% @genres.each do |g| %>
    <li><%= link_to g.name, genre_path(g) %></li>
  <% end %>
</ul>
<% if user_signed_in? %>
<%= link_to 'New Song', new_song_path %>
<% else %>
<%= link_to 'Sign In', new_user_session_path %> <br>
<%= link_to 'Register', new_user_registration_path %>
<% end %>